server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

aws:
  region: ${AWS_REGION}
  s3:
    bucket: ${AWS_S3_BUCKET}
    folder: ${AWS_S3_FOLDER}
    base-url: ${AWS_S3_BASE_URL}

cognito:
  userPoolId: ${COGNITO_USER_POOL_ID}
  clientId: ${COGNITO_CLIENT_ID}

nta:
  api:
    key: ${NTA_API_KEY}

huggingface:
  api:
    key: ${HUGGINGFACE_API_KEY}
    url: ${HUGGINGFACE_API_URL}
